p{
    border: solid;
    width: 100px;
    display: block;
    opacity: 0.8;
}

#a{
    position: absolute;
    top: 50px;
    left: 50px;
}

#f{
    position: fixed;
    top: 50px;
    right: 50px;
}

#r{
    position: relative;
    left: 50px;
    top: 50px;
}

#s{
    position: sticky;
    left: 10px;
    bottom: 10px;
    top: 10px;
    opacity: 0.9;
}

ul{
    position: relative;
    width: 200px;
    transition: width 2s;
    animation: myanim 5s infinite;
    animation-direction: alternate;
}
li:hover{
    width: 300px;
}

p{
    width: 100px;
    transform: rotate(20deg) skewY(20deg);
    transition: width 1s, background-color 2s, rotate 2s;
}

p:hover{
    width: 200px;
    background-color: aqua;
    transform: rotate(30deg);

}

body{
    background-color: greenyellow;
}

@keyframes myanim{
    0%{left: 100px;}
    25%{left: 150px;}
    50%{left: 200px;}
    100%{left: 250px;}
}

div{
    border: solid;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.b{
    background-color: deeppink;
}

.c{
    color: mediumpurple;
    background-color: deeppink;
}

.input_div{
    display: flex;
    flex-direction: column;
}

input{
    max-width: 500px;
}

@media screen and (max-width: 600px)
{
    body{
        background-color: aqua;

    }
    p{
        display: inline-block;
        width: 100px;
    }
}

