/*li{*/
/*    background-color: transparent;*/
/*    transition-property: background-color;*/
/*    transition-duration: 2s;*/
/*    transition-timing-function: linear;*/
/*}*/

/*li:nth-of-type(even):hover{*/
/*    background-color: red;*/
/*}*/

/*div {*/
/*    border: 2px solid blue;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: red;*/
/*    transition-property: width;*/
/*    transition-duration: 2s;*/
/*    transition-timing-function: linear;*/
/*}*/

/*div:hover {*/
/*  width: 300px;*/
/*}*/

.grid-container {
    width: 300px;
    left: 500px;

  display: grid;
  grid-template-columns: none;
  border: 2px solid black;
    padding: 1px;
}

.grid-container > div {
  border: 2px solid blue;
    border-collapse: collapse;
}

.item1{
	grid-row: 1 /  3;
}
.item2{
	grid-row: 1 /  3;
}

@media only screen and (max-width: 700px) {

	.grid-container{
        display: block;
    }
  	.grid-container > div{
        width: 50vw;
  	}
    .item3{
        display: none;
    }

}