*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Arial";
}

header{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #29CC9F;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-right: 30px;
    padding-left: 30px;
}

header a{
    text-align: center;
    float: left;
    line-height: 25px;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    margin-right: 20px;
}

header a:hover{
    background-color: #49d6af;
    opacity: .8;
    font-size: 21px;
}

header a.logo{
    float: left;
    line-height: 50px;
}

.img_logo{
    height: 100px;
}

nav{
    flex-direction: column;
}
