*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

body{
}

header{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #29CC9F;
    padding-right: 30px;
    padding-left: 30px;
}

header a{
    line-height: 25px;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    margin-right: 20px;
}

header a:hover{
    background-color: #49d6af;
    opacity: .8;
    font-size: 21px;
}

header a.logo{
    float: left;
    line-height: 50px;
}

.img_logo{
    height: 100px;
}

nav{
    display: flex;
    text-decoration: none;
}

nav ul{
    display: flex;

}

nav li{
    text-align: center;
    position: relative;
    width: 100%;
}

.container{
    display: flex;
}

.container aside{
    flex: 30%;
}

.container section{
    flex: 50%;
}
.container article{
    flex: 10%;
}

#descriere{
    display: flex;
    max-width: 60%;
    align-items: center;
    flex-flow: column;
}

ul li{
    list-style: none;
}
